.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

/*Locations List*/
.locations-list-container {
  margin-top: 20px;
}


/*Map*/
.map-container {
  margin-top: 40px;
}

#map {
  height: 300px;
  width: 600px;
  background: green;
}
